
/* cabeçalho e navegaçao */
body{
    font-family: 'Roboto Condensed', sans-serif;
}
a{
    text-decoration: none;
    color: inherit;
}
header{
    background-color: lightslategray;
}
#cabecalho-pecas{
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    display: flex;
}

 .nomelogo {
    font-size: 80px;
    color: lightslategray;
    text-shadow: 3px 0 3px white;
    position: absolute;
    top: 20px;
    left: 21px;
    
 }
.navegacao{
    text-align: center;
    display: inline-block;
    font-size: 33px;
    vertical-align: top;
    width: 100%;
    
}
.navegacao li:hover{
    background-color: azure;
    transition-delay: 0.1s;
}
nav li {
    display: inline;
    font-weight: bold;
    margin: 000025px;
}
.promo{
    text-align: center;
    margin: 10px auto 0px auto;
    font-size: 32px;
    font-weight: bold;
    border-bottom: 3px solid;}
/*conteudo main*/
 
#container_adjust-main {
    display: flex;
    justify-content: center;
    margin: 25px 10px;
}
.promoimg{
    width: 100%;
    height: 60%;
}
#promocionais{
    display: flex;
    justify-content: space-around;
}
.container__promocionais{
    border: solid black;
}
.obs{
    font-size: 20px;
    font-weight: 600;
    margin-top: 5px;
}
.content_price{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
}
.fa-credit-card{
    background-image:url("cartaocredito.png");
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
    height: 15px;
    width: 15px;
}
/*rodape*/
.layrodape{
    background: #f9f6f6;
    width: 100%;
    position: absolute;
}
.msgrodape{
    font-size: 22px;
    font-weight: 800;
    color: lightslategray;
    vertical-align: top;
    text-align: center;
    text-decoration-line: underline;
}
.listarodape{
    margin-top: 10px;
    font-weight: 700;
    margin-left: 40px;

}

.copyright{
    font-size: 11px;
    font-weight: 600;
    color: black;
    text-align: center;
    margin-top: 70px;
}
.dev{
    font-size: 12px;
    font-weight: bold;
    text-align: right;
    margin-right: 15px;
}