
/* cabeçalho e navegaçao */
body{
    font-family: 'Roboto Condensed', sans-serif;
}
a{
    text-decoration: none;
    color: inherit;
}
#cabecalho-pecas{
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    display: flex;
}

 .nomelogo {
    font-size: 80px;
    color: lightslategray;
    text-shadow: 3px 0 3px white;
    position: absolute;
    top: 20px;
    left: 21px;
    
 }
.navegacao{
    text-align: center;
    display: inline-block;
    font-size: 33px;
    background-color: lightslategray;
    vertical-align: top;
    width: 100%;
    
}
.navegacao li:hover{
    background-color: azure;
    transition-delay: 0.1s;
}
nav li {
    display: inline;
    font-weight: bold;
    margin: 000025px;
}

nav a {
    text-decoration: none;
    color: black;
}

/*conteudo main*/
#container_adjust-main{
    display: flex;
    justify-content: center;
}
.promoimg{
    width: 100%;
    height: 60%;
}
#promocionais{
    display: flex;
    justify-content: space-around;
}
/*rodape*/
.layrodape{
    background: #f9f6f6;
    width: 100%;
    position: absolute;
}
.msgrodape{
    font-size: 22px;
    font-weight: 800;
    color: lightslategray;
    vertical-align: top;
    text-align: center;
    text-decoration-line: underline;
}
.listarodape{
    margin-top: 10px;
    font-weight: 700;
    margin-left: 40px;

}

.copyright{
    font-size: 11px;
    font-weight: 600;
    color: black;
    text-align: center;
    margin-top: 70px;
}
.dev{
    font-size: 12px;
    font-weight: bold;
    text-align: right;
    margin-right: 15px;
}