
/* cabeçalho e navegaçao */
body{
    font-family: 'Roboto Condensed', sans-serif;
    background:linear-gradient(#141414 , #bfbfbf);
}
a{
    text-decoration: none;
    color: inherit;
}
.container-header{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.container_text-logo{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.name-logo_adjust{
    text-align: center;
}
.name-logo{
    font-size: 60px;
    color: silver;
    text-shadow: 1px 1px whitesmoke;
}
.subname-logo{
    font-size: 14px;
    color: silver;
}
.logo-image{
    background-image: url("logoloja.png");
    background-size: 50px;
    background-position: center;
    background-repeat: no-repeat;
    width: 120px;
    height: 120px;
    background-size: 120px;
}
.container-nav{
    display: flex;
    justify-content: center;
    align-content: center;
}
.navigation-itens{
    display:flex;
    width: 60%;
}
.navigation-itens ul{
    display: flex;
    justify-content: space-between;
    width: 90%;
    
}
.nav_list{
    color: #bfbfbf;
    font-size: 22px;
    margin-top: 10px;
    padding: 5px;
}
.nav_list:hover{
    border-bottom: 3px solid;
}
/*conteudo main*/
 
#container_adjust-main {
    display: flex;
    justify-content: center;
    margin: 25px 10px;
}
.promoimg{
    width: 100%;
    height: 60%;
}
#promocionais{
    display: flex;
    justify-content: space-around;
}
.container__promocionais{
    border: solid black;
    width: 22%;
}
.container__promocionais:hover{
    box-shadow: 4px 4px 4px 4px lightslategray;
    
}
.obs{
    font-size: 20px;
    font-weight: 600;
    margin-top: 5px;
}
.content_price{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
}
.fa-credit-card{
    background-image:url("cartaocredito.png");
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
    height: 20px;
    width: 20px;
    background-size: 20px;
}
.price_types{
    margin-top: 5px;
    font-weight: 600;
    font-size: 20px;
}
/*rodape*/
.layrodape{
    background: #f9f6f6;
    width: 100%;
    position: absolute;
}
.msgrodape{
    font-size: 22px;
    font-weight: 800;
    color: lightslategray;
    vertical-align: top;
    text-align: center;
    text-decoration-line: underline;
}
.listarodape{
    margin-top: 10px;
    font-weight: 700;
    margin-left: 40px;

}

.copyright{
    font-size: 11px;
    font-weight: 600;
    color: black;
    text-align: center;
    margin-top: 70px;
}
.dev{
    font-size: 12px;
    font-weight: bold;
    text-align: right;
    margin-right: 15px;
}