.container_carrousel{
    margin-top: 20px;
    display: flex;
    width: 100%;
    justify-content: center;
}
#img{
    display: flex;
    object-fit: cover;
    overflow: hidden;
    align-items: center;
    transition: transform 0.5s ease-in-out;
    transform: translateX(0);
    width: 840px;
}
.img__fit{
    width: 280px;
    
}

.rodape{
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
    background-color: #141414;
}
.textoPagamento{
    text-align: center;
    font-family: 'Courgette', cursive;;
    font-size: 20px;
    color:#bfbfbf;
}
.pagamento{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 200px;
}
.telefone_rodape{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.pagamentosimg{
    background-image: url("../img/formasdepagamento.png") ;
    background-repeat: no-repeat;
    display: flex;
    height: 140px;
    width: 400px;
    background-size: 400px;
    margin-top: 3px;
}
.logo__telefone-rodape{
    font-size: 20px;
    color: #bfbfbf; 
    margin-top: 5px;
}
.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.rodape_info{
    font-size: 16px;
    color: #bfbfbf;
    margin: 5px;
}